@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');


body {
font-family: 'Yatra One', cursive;;
background-color: #fbe49d;
background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}